name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        cache: npm
    - name: NPM install
      run: npm ci
    - name: Build
      run: npm run build
    - name: Test
      run: xvfb-run --auto-servernum npm test
